/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Header styles */
.main-header {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding */
    border-top-left-radius: 15px; /* Rounded top left corner */
    border-top-right-radius: 15px; /* Rounded top right corner */
    margin-bottom: 15px; /* Add margin to create space between containers */
}

.main-header .logo {
    display: flex;
    align-items: center;
}

.main-header img {
    width: 40px;
    margin-right: 10px;
}

.main-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}

/* Secondary Header styles */
.secondary-header {
    background-color: #333; /* Dark gray background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Align items vertically */
}

.secondary-header .menu-icon,
.secondary-header .search-icon {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    cursor: pointer; /* Use pointer cursor */
}

.secondary-header .menu-icon i,
.secondary-header .search-icon i {
    font-size: 20px; /* Icon size */
}

.secondary-header .add-note-container button {
    background-color: #4CAF50; /* Green button background color */
    border: none; /* No border */
    color: #fff; /* White text color */
    cursor: pointer; /* Use pointer cursor */
    padding: 10px 100px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 17px; /* Font size */
}

.secondary-header .options-container select {
    padding: 8px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    margin-right: 10px; /* Add spacing between select and search input */
}

.secondary-header .search-container input[type="text"] {
    width: 200px; /* Width of the search input field */
    padding: 8px; /* Padding */
    border: none; /* No border */
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Font size */
    margin-right: 10px; /* Add spacing between input field and button */
}

/* Sidebar Panel styles */
.sidebar {
    position: fixed; /* Fixed positioning to stay in place */
    top: 140px; /* Distance from the top, adjusted to match spacing */
    left: 0; /* Stick to the left */
    width: 250px; /* Width of the sidebar */
    height: calc(100vh - 140px); /* Full height, adjusted to match spacing */
    background-color: #4CAF50; /* Dark gray background color */
    padding: 20px; /* Padding */
    color: #fff; /* White text color */
}

/* Sidebar Link styles */
.sidebar a {
    display: block; /* Display links as blocks */
    color: #fff; /* White text color */
    padding: 10px 0; /* Padding */
    text-decoration: none; /* No underline */
}

.sidebar a:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Main content styles */
.main-content {
    margin-left: 270px; /* Adjust margin to create space for sidebar */
    padding: 20px; /* Padding */
}

/* Note styles */
.note-container {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative; /* Set position relative for absolute positioning */
}

.note-container h2 {
    margin-bottom: 5px;
}

.note-container .dates {
    color: #666;
    font-size: 14px;
}

.note-container .edit-btn,
.note-container .delete-btn {
    position: absolute;
    padding: 10px; /* Adjust padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.note-container .edit-btn {
    background-color: #007bff; /* Blue button background color */
    color: #fff; /* White text color */
    right: 10px; /* Adjust right position for Edit button */
    top: 10px; /* Adjust top position */
}

.note-container .delete-btn {
    background-color: #dc3545; /* Red button background color */
    color: #fff; /* White text color */
    right: 10px; /* Adjust right position for Delete button */
    top: 50px; /* Adjust top position for Delete button */
}

/* Hide the note form initially */
.note-form-container {
    display: none;
}

.empty-message {
    color: red; /* Red text color */
    font-size: 14px; /* Font size */
}

.hidden {
    display: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    background-color: #007bff; /* Blue button background color */
    color: #fff; /* White text color */
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545; /* Red button background color */
    color: #fff; /* White text color */
    margin-right: 5px;
}

.save-btn {
    background-color: #28a745; /* Green button background color */
    color: #fff; /* White text color */
    margin-right: 5px;
}

.cancel-btn {
    background-color: #dc3545; /* Red button background color */
    color: #fff; /* White text color */
}

/* Sort Options */
#sort-options-container {
    margin-top: 20px; /* Add space between secondary header and sort options */
}

#sort-options-container label {
    color: #fff; /* White text color */
    font-size: 16px; /* Font size */
    margin-right: 10px; /* Add spacing */
}

#sort-options {
    padding: 8px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    background-color: #474747; /* Green background color */
    color: #fff; /* White text color */
}
