* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Header */
.main-header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
}

.main-header .logo {
    display: flex;
    align-items: center;
}

.main-header img {
    width: 40px;
    margin-right: 10px;
}

.main-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
}

/* Secondary Header */
.secondary-header {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.secondary-header .menu-icon,
.secondary-header .search-icon {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.secondary-header .add-note-container button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 100px;
    border-radius: 5px;
    font-size: 17px;
}

.secondary-header .search-container input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    margin-right: 10px;
}

/* Sidebar Panel */
.sidebar {
    position: absolute;
    left: 0;
    width: 250px;
    height: calc(100vh - 140px);
    background-color: #4CAF50;
    padding: 20px;
    color: #fff;
}

/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

/* Note Container*/
.note-container {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.note-container h2 {
    margin-bottom: 5px;
}

.note-container .dates {
    color: #666;
    font-size: 14px;
}

.note-container .edit-btn,
.note-container .delete-btn {
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.note-container .edit-btn {
    background-color: #007bff;
    color: #fff;
    right: 10px;
    top: 10px;
}

.note-container .delete-btn {
    background-color: #dc3545;
    color: #fff;
    right: 10px;
    top: 50px;
}

/* Empty Message */
.empty-message {
    color: red;
    font-size: 14px;
}

/* Hidden Element */
.hidden {
    display: none;
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    margin-right: 5px;
}

.save-btn {
    background-color: #28a745;
    color: #fff;
    margin-right: 5px;
}

.cancel-btn {
    background-color: #dc3545;
    color: #fff;
}

/* Sort Options Container */
#sort-options-container {
    margin-top: 20px;
}

/* Sort Options */
#sort-options-container label {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

#sort-options {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #474747;
    color: #fff;
}
